<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header> 
 
<ion-content> 
  <ion-list (click)="util.navigateByURL('chat-detail', 'forward')">
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="../../../assets/imgs/profile1.png">
      </ion-avatar>
      <ion-label>
        <h2 class="provider-name">Aliza Smith <span class="occupation">| Plumber</span></h2>
        <h3 class="chat-text">Yes, How may I help you</h3>
      </ion-label>
      <h2 slot="end" class="date">31 min ago</h2>
    </ion-item>
  </ion-list>
  <ion-list (click)="util.navigateByURL('chat-detail', 'forward')">
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="../../../assets/imgs/profile2.png">
      </ion-avatar>
      <ion-label>
        <h2 class="provider-name">Aliza Smith <span class="occupation">| Plumber</span></h2>
        <h3 class="chat-text">Yes, How may I help you</h3>
      </ion-label>
      <h2 slot="end" class="date">31 min ago</h2>
    </ion-item>
  </ion-list>
  <ion-list (click)="util.navigateByURL('chat-detail', 'forward')">
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="../../../assets/imgs/profile3.png">
      </ion-avatar>
      <ion-label>
        <h2 class="provider-name">Aliza Smith <span class="occupation">| Plumber</span></h2>
        <h3 class="chat-text">Yes, How may I help you</h3>
      </ion-label>
      <h2 slot="end" class="date">31 min ago</h2>
    </ion-item>
  </ion-list>
  <ion-list (click)="util.navigateByURL('chat-detail', 'forward')">
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="../../../assets/imgs/profile4.png">
      </ion-avatar>
      <ion-label>
        <h2 class="provider-name">Aliza Smith <span class="occupation">| Plumber</span></h2>
        <h3 class="chat-text">Yes, How may I help you</h3>
      </ion-label>
      <h2 slot="end" class="date">31 min ago</h2>
    </ion-item>
  </ion-list>
</ion-content>
