<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> 
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <ion-item class="personal-detail" lines="full">
    <ion-avatar slot="start">
      <img [src]="userData && userData.image ? userData.image : 'https://upload.wikimedia.org/wikipedia/commons/a/a0/Arh-avatar.jpg'">
    </ion-avatar>
    <ion-label> 
      <h2 class="username"> {{ userData?.firstName +' '+ userData?.lastName }} </h2>
      <h3 class="contact-number"> {{ userData?.contactNumber }} </h3>
    </ion-label>
    <ion-icon slot="end" name="create-outline"></ion-icon>
  </ion-item>

  <ion-list mode="ios">
    <!-- <ion-item lines="full">
      <ion-icon class="start-icon" slot="start" name="location-sharp"></ion-icon>
      <ion-label>Manage Address</ion-label>
      <ion-icon class="end-icon" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item> -->
    <ion-item (click)="util.navigateByURL('contact-us', 'forward')" lines="full">
      <ion-icon class="start-icon" slot="start" name="mail-sharp"></ion-icon>
      <ion-label>Contact Us</ion-label>
      <ion-icon class="end-icon" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="util.navigateByURL('policy', 'forward')" lines="full">
      <ion-icon class="start-icon" slot="start" name="lock-closed"></ion-icon>
      <ion-label>Privacy Policy</ion-label>
      <ion-icon class="end-icon" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="util.navigateByURL('about-us', 'forward')" lines="full">
      <ion-icon class="start-icon" slot="start" name="business"></ion-icon>
      <ion-label>About Us</ion-label>
      <ion-icon class="end-icon" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item> 
    <ion-item (click)="util.navigateByURL('faqs', 'forward')" lines="full">
      <ion-icon class="start-icon" slot="start" name="list"></ion-icon>
      <ion-label>FAQs & Terms</ion-label>
      <ion-icon class="end-icon" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <!-- <ion-item class="last-child" (click)="util.navigateByURL('language', 'forward')" lines="full">
      <ion-icon class="start-icon" slot="start" name="earth"></ion-icon>
      <ion-label>Change Language</ion-label>
      <ion-icon class="end-icon" slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item> -->
    <!-- logout -->
    <!-- <ion-item class="logout-item" lines="full">
      <ion-label class="ion-text-center">Sign out</ion-label>
    </ion-item> -->
    <ion-button (click)="doSignOut()" class="sign-out-btn" expand="full" fill="clear">Sign out</ion-button>
  </ion-list>

</ion-content>
