ion-header {
    ion-toolbar {
        --background: var(--ion-color-base);
        color: var(--ion-color-white);
        ion-title {
            font-family: 'roboto-regular';
        }
     }   
}

ion-content {
    ion-list {
        background-color: hsl(0deg 0% 94%);
        ion-item {
            --min-height: 60px;
            margin-top: 6px;
            &:last-child {
             margin-bottom: 6px;
            }
            ion-label {
                white-space: inherit !important;
                h2 {
                    font-size: 16px;
                    font-family: 'roboto-bold';
                }
                p {
                    margin-top: 8px;
                    font-size: 12px;
                    font-family: 'roboto-regular';
                }
            }
            ion-icon {
                font-size: 20px;
                align-self: flex-start;
                margin-top: 22px;
                color: var(--ion-color-gray);
            }
        }
    }
}