<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Request
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <div class="segment">
      <div (click)="activeSegment = 'pending'" class="segment-button">
        <h2 [class.active]="activeSegment === 'pending'">Pending</h2>
      </div>
      <div (click)="activeSegment = 'completed'" class="segment-button">
        <h2 [class.active]="activeSegment === 'completed'">Completed</h2>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="activeSegment === 'pending'">
    <ion-list (click)="util.navigateByURL('request-detail', 'forward')">
      <ion-item lines="full">
        <ion-avatar slot="start">
          <img src="../../../assets/imgs/profile1.png">
        </ion-avatar>
        <ion-label>
          <h2 class="username">Aliza Smith <span class="occupation">| Plumber</span></h2>
          <h3 class="hourly-rate">₹ 200 / per month</h3>
        </ion-label>
        <div class="ion-text-right" slot="end">
          <h2 class="status pending">
            Pending 
          </h2>
          <h3 class="booking-date">
            21st jan 09:00 - 11:00 
          </h3>
        </div>
      </ion-item>

      <ion-item lines="full">
        <ion-avatar slot="start">
          <img src="../../../assets/imgs/profile2.png">
        </ion-avatar>
        <ion-label>
          <h2 class="username">Aliza Smith <span class="occupation">| Plumber</span></h2>
          <h3 class="hourly-rate">₹ 200 / per month</h3>
        </ion-label>
        <div class="ion-text-right" slot="end">
          <h2 class="status approved">
            Approved
          </h2>
          <h3 class="booking-date">
            21st jan 09:00 - 11:00 
          </h3>
        </div>
      </ion-item>

      <ion-item lines="full">
        <ion-avatar slot="start">
          <img src="../../../assets/imgs/profile3.png">
        </ion-avatar>
        <ion-label>
          <h2 class="username">Aliza Smith <span class="occupation">| Plumber</span></h2>
          <h3 class="hourly-rate">₹ 200 / per month</h3>
        </ion-label>
        <div class="ion-text-right" slot="end">
          <h2 class="status rejected">
            Rejected
          </h2>
          <h3 class="booking-date">
            21st jan 09:00 - 11:00 
          </h3>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="activeSegment === 'completed'">
    <ion-list>
      <ion-item lines="full">
        <ion-avatar slot="start">
          <img src="../../../assets/imgs/profile4.png">
        </ion-avatar>
        <ion-label>
          <h2 class="username">Aliza Smith <span class="occupation">| Plumber</span></h2>
          <h3 class="hourly-rate">₹ 200 / per month</h3>
        </ion-label>
        <div class="ion-text-right" slot="end">
          <h2 class="status pending">
            Pending
          </h2>
          <h3 class="booking-date">
            21st jan 09:00 - 11:00 
          </h3>
        </div>
      </ion-item>

      <ion-item lines="full">
        <ion-avatar slot="start">
          <img src="../../../assets/imgs/profile5.png">
        </ion-avatar>
        <ion-label>
          <h2 class="username">Aliza Smith <span class="occupation">| Plumber</span></h2>
          <h3 class="hourly-rate">₹ 200 / per month</h3>
        </ion-label>
        <div class="ion-text-right" slot="end">
          <h2 class="status pending">
            Pending
          </h2>
          <h3 class="booking-date">
            21st jan 09:00 - 11:00 
          </h3>
        </div>
      </ion-item>

      <ion-item lines="full">
        <ion-avatar slot="start">
          <img src="../../../assets/imgs/profile1.png">
        </ion-avatar>
        <ion-label>
          <h2 class="username">Aliza Smith <span class="occupation">| Plumber</span></h2>
          <h3 class="hourly-rate">₹ 200 / per month</h3>
        </ion-label>
        <div class="ion-text-right" slot="end">
          <h2 class="status pending">
            Pending
          </h2>
          <h3 class="booking-date">
            21st jan 09:00 - 11:00 
          </h3>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
