<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Request
    </ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button>
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button>  -->
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <div class="segment">
      <div (click)="activeSegment = 'pending'" class="segment-button">
        <h2 [class.active]="activeSegment === 'pending'">Pending</h2>
      </div>
      <div (click)="activeSegment = 'completed'" class="segment-button">
        <h2 [class.active]="activeSegment === 'completed'">Completed</h2>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="activeSegment === 'pending'">
    <ion-list>
      <ion-item *ngFor="let req of pendingRequests" lines="full" (click)="goToRequestDetails(req)">
        <ion-avatar slot="start">
          <img [src]="req?.providerDetails?.image ? req?.providerDetails?.image : '../../../assets/imgs/profile1.png'">
        </ion-avatar>
        <ion-label>
          <h2 class="username">{{req?.providerDetails?.firstName +' '+ req?.providerDetails?.lastName}} <span class="occupation">| {{ req?.selectedCategory?.categoryName }}</span></h2>
          <h3 class="hourly-rate">₹ {{req?.providerDetails?.price}} / per month</h3>
        </ion-label>
        <div class="ion-text-right" slot="end">
          <h2 [class]="'status '+getJobStatusText(req?.bookingStatus)">
            {{ getJobStatusText(req?.bookingStatus) | titlecase }}  
          </h2>
          <h3 class="booking-date">
            <!-- 21st jan 09:00 - 11:00  -->
            {{ req?.bookingDate | date: 'MMM d, y' }} - {{ req?.bookingTime | date: 'h:mm a' }}
          </h3>
        </div>
      </ion-item>
    </ion-list>

    <div class="no-data" *ngIf="!pendingRequests || (pendingRequests && pendingRequests.length === 0)">
      <ion-icon name="sad-outline"></ion-icon>
      <h2>No data found</h2>
    </div>
  </ng-container>

  <ng-container *ngIf="activeSegment === 'completed'">
    <ion-list>
      <ion-item *ngFor="let req of completedRequests" lines="full" (click)="goToRequestDetails(req)">
        <ion-avatar slot="start">
          <img [src]="req?.providerDetails?.image ? req?.providerDetails?.image : '../../../assets/imgs/profile1.png'">
        </ion-avatar>
        <ion-label>
          <h2 class="username">{{req?.providerDetails?.firstName +' '+ req?.providerDetails?.lastName}} <span class="occupation">| {{ req?.selectedCategory?.categoryName }}</span></h2>
          <h3 class="hourly-rate">₹ {{req?.providerDetails?.price}} / per month</h3>
        </ion-label>
        <div class="ion-text-right" slot="end">
          <h2 [class]="'status '+getJobStatusText(req?.bookingStatus)">
            {{ getJobStatusText(req?.bookingStatus) | titlecase }}  
          </h2>
          <h3 class="booking-date">
            <!-- 21st jan 09:00 - 11:00  -->
            {{ req?.bookingDate | date: 'MMM d, y' }} - {{ req?.bookingTime | date: 'h:mm a' }}
          </h3>
        </div>
      </ion-item>
    </ion-list>

    <div class="no-data" *ngIf="!completedRequests || (completedRequests && completedRequests.length === 0)">
      <ion-icon name="sad-outline"></ion-icon>
      <h2>No data found</h2>
    </div>
  </ng-container>
</ion-content>
