.info-text-container {
    h2 {
        font-size: 17px;
        margin: 20px 0 0 ;
        text-align: center;
        font-family: var(--ion-base-font);
        color: var(--ion-color-gray);
        &.small {
            font-size: 12px;
        }
    }
    a {
        text-decoration: underline;
    }
}

.img-container {
    height: 100px;
    width: 100px;
    margin: auto;
    margin-bottom: 20px;
    ion-avatar {
        height: 100px;
        width: 100px;
        border-radius: 0px;
        img {
            object-fit: contain;
        }
    }
    .edit-container {
        height: 30px;
        width: 30px;
        background: #621fcf;
        position: absolute;
        right: 7px;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        --padding-start: 0px;
        --padding-end: 0px;
        --border-radius: 50%;
        ion-icon {
          font-size: 18px;
          color: white !important;
        }
    }
}