
.info-text-container { 
    h2 {
        font-size: 17px;
        margin: 20px 0 0 ;
        text-align: center;
        font-family: 'roboto-regular';
        color: var(--ion-color-gray);
        &.small {
            font-size: 14px;
        }
    }
    a {
        text-decoration: underline;
    }
}



.separator {
    margin-top: 30px;
}

.social-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 19px;
    ion-button {
        width: 47%;
        height: 42px;
        text-transform: capitalize;
        &.google {
            --border-color: red;
            color: red;
        }
    }
}
