<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> {{ selectedCategory.categoryName }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list mode="ios">
    <ion-item *ngFor="let service of services" lines="full">
      <ion-label>{{ service.serviceName }}</ion-label>
      <ion-checkbox [(ngModel)]="service.isChecked" slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="onSubmitService()">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
