<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner-container">
    <img
      class="logo"
      src="../../../assets/imgs/logo.png"
    />
    <h2 class="title">Handy<span>man</span></h2>
  </div>

  <div class="ion-padding content">
    <h2 class="title">
      About Us
    </h2>
    
    <div class="policy-content" [innerHTML]="about"></div>
  </div>

</ion-content> 
