<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> Book now </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="addressForm.invalid" (click)="bookAnAppointment()">
        <ion-icon name="checkmark-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="provider-detail">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img
          [src]="bookingDetail?.providerDetails?.image ? bookingDetail?.providerDetails?.image : '../../../assets/imgs/profile1.png'"
        />
      </ion-avatar>
      <ion-label>
        <h2 class="username">
          {{bookingDetail?.providerDetails?.firstName +' '+
          bookingDetail?.providerDetails?.lastName}}
          <span class="occupation"
            >| {{bookingDetail?.selectedCategory?.categoryName}}</span
          >
        </h2>
        <h3 class="services">
          <span
            *ngFor="let service of bookingDetail?.selectedServices; let last = last"
          >
            {{service.serviceName}} <span *ngIf="!last">,</span>
          </span>
        </h3>
      </ion-label>
    </ion-item>

    <div class="date-section">
      <div *ngFor="let cal of calender" (click)="selectedDate = cal" class="date-container">
        <p>{{cal | date:'EEE'}}</p>
        <div [class.active]="selectedDate === cal" class="date-box">
          <h2>{{cal | date:'dd'}}</h2>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="addressForm" class="form-container">
    <div class="booking-detail">
      <ion-list>
        <ion-item lines="inset">
          <ion-label position="stacked">When</ion-label>
          <ion-datetime
            formControlName="bookingTime"
            displayFormat="h:mm a"
          ></ion-datetime>
        </ion-item>
        <span
          class="error custom-error-style"
          *ngIf="addressForm?.get('bookingTime')?.hasError('required') && addressForm?.get('bookingTime').touched"
        >
          Date and Time is required
        </span>

        <ion-item lines="inset">
          <ion-label position="stacked">Where</ion-label>
          <ion-input formControlName="location"></ion-input>
        </ion-item>
        <span
          class="error custom-error-style"
          *ngIf="addressForm?.get('location')?.hasError('required') && addressForm?.get('location').touched"
        >
          Location is required
        </span>

        <ion-item lines="inset">
          <ion-label position="stacked">House number</ion-label>
          <ion-input formControlName="houseNumber"></ion-input>
        </ion-item>
        <span
          class="error custom-error-style"
          *ngIf="addressForm?.get('houseNumber')?.hasError('required') && addressForm?.get('houseNumber').touched"
        >
          House Number is required
        </span>

        <ion-item lines="inset">
          <ion-label position="stacked">Society / Building</ion-label>
          <ion-input formControlName="society"></ion-input>
        </ion-item>
        <span
          class="error custom-error-style"
          *ngIf="addressForm?.get('society')?.hasError('required') && addressForm?.get('society').touched"
        >
          Society name is required
        </span>

        <ion-item lines="inset">
          <ion-label position="stacked">Full address</ion-label>
          <ion-input formControlName="fullAddress"></ion-input>
        </ion-item>
        <span
          class="error custom-error-style"
          *ngIf="addressForm?.get('fullAddress')?.hasError('required') && addressForm?.get('fullAddress').touched"
        >
          Full address is required
        </span>

        <ion-item lines="inset">
          <ion-label position="stacked">Landmark</ion-label>
          <ion-input formControlName="landmark"></ion-input>
        </ion-item>
        <span
          class="error custom-error-style"
          *ngIf="addressForm?.get('landmark')?.hasError('required') && addressForm?.get('landmark').touched"
        >
          Landmark is required
        </span>
      </ion-list>
    </div>
  </form>
</ion-content>
